
Django==1.9
Pillow==2.3.0
SecretStorage==2.0.0
argparse==1.2.1


decorator==3.4.0
dj-database-url==0.5.0
django-crispy-forms==1.7.2

gunicorn==19.9.0
html5lib==0.999
httplib2==0.8




psycopg2==2.7.5
pycrypto==2.6.1





requests==2.2.1







