{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'dashboard' %}"><h1>PUBG100</h1></a>
  <form class="form-inline">
    <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <a class="navbar-brand" class="my-2 my-sm-0" href="{% url 'logout' %}"><h3>Logout</h3></a>
  </form>
</nav>
<hr>
<h1 style="padding-bottom:30px;">Check User Detail</h1>

<div class="container">
  <div class="row">
    <div style="border-right:1px solid" class="col">
      <form method="POST">
        {% csrf_token  %}
        {{ form|crispy }}
        <input class="btn btn-primary btn-lg" type="submit" value="Submit"/>
    </form>
    </div>
    <div class="col">
      {% for key, value in released.items  %}
     
         <h5 style="text-align:left;" ><span style="text-transform:uppercase;">{{ key }}</span> : {{ value }}</span></h5>  
         <br>
     {% endfor %}  
    </div>
  </div>

{% endblock %}