{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'dashboard' %}"><h1>PUBG100</h1></a>
  <form class="form-inline">
    <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <a class="navbar-brand" class="my-2 my-sm-0" href="{% url 'logout' %}"><h3>Logout</h3></a>
  </form>
</nav>
<hr>
    <div class="container">
    <div class="row">
        <div style="border-right:1px solid black;" class="col">
            {% for x in data %}
    
    <h2>Tournament : {{ x.name }} ,  id :  {{ x.id }}</h2>
    <br>
    
    {% endfor %}
        </div>
        <div class="col">
            <a href="{% url 'join' %}"><h1>Participants</h1></a>
            <a href="{% url 'position' %}"><h1>Set Winner</h1></a>
            <a href="{% url 'status' %}"><h1>Set Tournament status</h1></a>
        </div>
    </div>
    </div>
    
{% endblock %}